{
  "inbounds": [
    {
      "port": 8080,
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "0a1e4d42-b9dc-4a3a-80d1-ccf5c19533f2",
            "alterId": 8
          }
        ]
      },
      "streamSettings": {
        "network":"ws",
        "wsSettings": {"path": "/www"}
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    }
  ]
}
