
{
  "inbounds": [
    {
      "port": 8080,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "8087bfed-bbac-483f-836d-d355beae4b0c",
            "level": 0
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network":"ws",
        "wsSettings": {"path": "/www"}
      }
    },
    {
      "port": 8080,
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "8087bfed-bbac-483f-836d-d355beae4b0c"
          }
        ]
      },
      "streamSettings": {
        "network":"ws",
        "wsSettings": {"path": "/ota"}
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    }
  ]
}
